<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./plugins/element-ui/index.css">
    <link rel="stylesheet" href="./styles/index.css">
</head>

<body>
    <div id="app">
        <!--Header-->
        <div class="header" id="header">
            <span class="title">To Do List</span>
            <span class="right el-dropdown-link">
                <el-dropdown @command="handleCommand">
                    <!--Avatar-->
                    <el-button icon="el-icon-user-solid" circle plain>
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <!--Log out-->
                        <el-dropdown-item command="log out">Log out</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </span>
            <span class="right">Welcome {{userInfo.username}}</span>
            <div style="clear: both"></div> <!--Clear float-->
        </div>

        <!--Adding assignment-->
        <el-form :inline="true" :model="newAssignment" class="demo-form-inline">
            <el-form-item label="Assignment: ">
                <el-input v-model="newAssignment.assignmentName" placeholder="Assignment name"></el-input>
            </el-form-item>
            <el-form-item>
                <el-date-picker
                        v-model="newAssignment.dueDate"
                        type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss">
                </el-date-picker>
            </el-form-item>
            <el-button icon="el-icon-plus" @click="addAssignment()"></el-button>
            <el-button type="success" @click="deleteCompletedAssignment()" plain>Delete Completed Assignment</el-button>
        </el-form>

        <!--Displaying assignments-->
        <el-table :data="assignments" style="width: 100%" :row-class-name="tableRowClassName">
            <!--Check-->
            <el-table-column width="100">
                <template slot-scope="assignments">
                    <el-button icon="el-icon-check" @click="markAsComplete(assignments.row)" circle plain>
                    </el-button>
                </template>
            </el-table-column>

            <!--Assignment-->
            <el-table-column prop="assignmentName" label="Assignment" width="500">
            </el-table-column>

            <!--Due Date-->
            <el-table-column prop="dueDate" label="Due Date" width="300">
            </el-table-column>

            <!--Status-->
            <el-table-column prop="status" label="Status" width="300">
                <template slot-scope="assignments">
                    <span v-if="assignments.row.status === 0">Completed</span>
                    <span v-else-if="assignments.row.status===1">Incomplete</span>
                    <span v-else>Important</span>
                </template>
            </el-table-column>

            <!--Star-->
            <el-table-column>
                <template slot-scope="assignments">
                    <el-button v-if="assignments.row.status === 2" type="warning" icon="el-icon-star-on"
                               @click="markImportant(assignments.row)" circle plain>
                    </el-button>
                    <el-button v-else type="warning" icon="el-icon-star-off"
                               @click="markImportant(assignments.row)" circle plain></el-button>
                </template>
            </el-table-column>

            <!--Edit-->
            <el-table-column>
                <template slot-scope="assignments">
                    <el-button type="primary" icon="el-icon-edit" @click="getById(assignments.row.id)" circle plain>
                    </el-button>
                </template>
            </el-table-column>

            <!--Delete-->
            <el-table-column>
                <template slot-scope="assignments">
                    <el-popconfirm confirm-button-text='Yes'
                                   cancel-button-text='No'
                                   title="Are you sure about deleting it?"
                                   @confirm="deleteById(assignments.row.id)">
                        <el-button slot="reference" type="danger" icon="el-icon-delete"
                                   circle plain></el-button>
                    </el-popconfirm>

                </template>
            </el-table-column>
        </el-table>

        <!--Edit Assignment Form-->
        <el-dialog title="Edit Assignment" :visible.sync="dialogFormVisible">
            <el-form :model="currentAssignment">
                <el-form-item label="Assignment: " label-width="120px">
                    <el-input v-model="currentAssignment.assignmentName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="Due Date: " label-width="120px">
                    <el-date-picker
                            v-model="currentAssignment.dueDate"
                            type="datetime"
                            value-format="yyyy-MM-dd HH:mm:ss">
                    </el-date-picker>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="updateAssignment" plain>Edit</el-button>
                <el-button type="danger" @click="dialogFormVisible = false" plain>Cancel</el-button>
            </div>
        </el-dialog>
    </div>

</body>
<script src="./plugins/vue/vue.js"></script>
<script src="./plugins/axios/axios.min.js"></script>
<script src="./plugins/element-ui/index.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data() {
            return {
                assignments: [{
                    assignmentName: 'to do list project',
                    dueDate: '2022-06-22',
                    status: 0,
                }, {
                    assignmentName: 'to do list project',
                    dueDate: '2022-06-22',
                    status: 1,
                }, {
                    assignmentName: 'to do list project',
                    dueDate: '2022-06-22',
                    status: 2,
                }],

                newAssignment: {},
                currentAssignment: {},
                dialogFormVisible: false,
                userInfo: {},
            }
        },

        created() {
            //Get userInfo from browser local storage
            const userInfo = window.localStorage.getItem('userInfo');
            if (userInfo) {
                this.userInfo = JSON.parse(userInfo);
            }
            this.getAll();
        },

        methods: {
            //Reset the adding assignment form
            resetForm() {
                this.newAssignment = {};
            },

            //Change the color of the row according to status
            tableRowClassName({ row }) {
                if (row.status === 0) {
                    return 'success-row';
                } else if (row.status === 2) {
                    return 'warning-row';
                }
                return '';
            },

            //Get the list of assignment from database
            getAll() {
                axios.get('/assignment').then((resp) => {
                    if (resp.data.code === 1) {
                        this.assignments = resp.data.data;
                    } else {
                        this.$message.error(resp.data.message);
                    }
                })
            },

            //Add an assignment to database
            addAssignment() {
                axios.post('/assignment', this.newAssignment).then((resp) => {
                    if (resp.data.code === 1) {
                        this.$message.success(resp.data.data);
                    } else {
                        this.$message.error(resp.data.message);
                    }
                }).finally(() => {
                    this.resetForm();
                    this.getAll();
                })
            },

            //Get data of an assignment by id
            getById(id) {
                this.dialogFormVisible = true;
                axios.get('/assignment/' + id).then((resp) => {
                    if (resp.data.code === 1) {
                        this.currentAssignment = resp.data.data;
                    } else {
                        this.$message.error(resp.data.message);
                    }
                })

            },

            //Delete assignment
            deleteById(id) {
                axios.delete('/assignment/' + id).then((resp) => {
                    if (resp.data.code === 1) {
                        this.$message.success(resp.data.data);
                    } else {
                        this.$message.error(resp.data.message);
                    }
                }).finally(() => {
                    this.getAll();
                })
            },

            deleteCompletedAssignment() {
                axios.delete('/assignment/clean').then((resp) => {
                    if (resp.data.code === 1) {
                        this.$message.success(resp.data.data);
                    } else {
                        this.$message.error(resp.data.message);
                    }
                }).finally(() => {
                    this.getAll();
                })
            },

            //Update assignment
            updateAssignment() {
                axios.put('/assignment', this.currentAssignment).then((resp) => {
                    if (resp.data.code === 1) {
                        this.dialogFormVisible = false;
                        this.$message.success(resp.data.data);
                        this.getAll();
                    } else {
                        this.$message.error(resp.data.message);
                    }
                })
            },

            markImportant(row) {
                var newStatus = (row.status === 2) ? 1 : 2;
                axios.put('/assignment', {id: row.id, status: newStatus}).then((resp) => {
                    if (resp.data.code === 1) {
                        this.getAll();
                    } else {
                        this.$message.error(resp.data.message);
                    }
                })
            },

            markAsComplete(row) {
                var newStatus = (row.status === 0) ? 1 : 0;
                axios.put('/assignment', {id: row.id, status: newStatus}).then((resp) => {
                    if (resp.data.code === 1) {
                        this.getAll();
                    } else {
                        this.$message.error(resp.data.message);
                    }
                })
            },

            //Tie event handlers to the dropdown menu
            handleCommand(command) {
                if (command === 'log out') {
                    this.logOut();
                }
            },

            //Log out
            logOut() {
                axios.post('/user/logout').then((resp) => {
                    if (resp.data.code === 1) {
                        localStorage.removeItem('userInfo')
                        window.location.href = 'page/login/login.html?loggedOut=true'
                    } else {
                        this.$message.error('Something');
                    }
                })
            }
        }
    })
</script>

</html>